@tailwind base;
@tailwind components;
  .input {
    @apply focus:outline-none focus:border-gray-500 p-3 border-2 text-lg  border-gray-200 transition-colors
  }
  .container {
    @apply max-w-screen-2xl mx-auto;
  }
  .link{
    @apply text-lime-600 hover:underline;
  }
  .btn {
    @apply text-lg font-medium focus:outline-none text-white py-4  transition-colors bg-lime-600 hover:bg-lime-700;
  }
  .td {
    @apply align-middle justify-center
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #EAFF00;
    border-radius: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #E0E0E0;
    border-radius: 6px;
  }

  #toggle:checked + #toggle-dot {
    transform: translateX(100%);
  }

  #toggle:checked + #toggle-dot + #toggle-text {
    color: #38a169; /* On 상태의 텍스트 색상 */
  }
@tailwind utilities;